/* defalut do not fix it */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

/* ===============Common=============== */
a {
  text-decoration: none;
}
