/* default value cannot be edited */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

/* ===============Common=============== */
a {
  text-decoration: none;
}

/* ======Header===================== */
.main-contain {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: nowrap;
}
.header {
  max-width: (calc(100% - 15%));
  background-color: #45c3d2;
}
.header_nav {
  position: relative;
}
.header_left {
  width: 50%;
}

.header_nav ul {
  display: flex;
  align-items: center;
  margin-left: 150px;
  justify-content: space-between;
}
.header_nav ul li a {
  padding: 10px;
}
.header_right {
  width: 50%;
  align-content: center;
  margin-left: 2%;
}

#header_search {
  height: 40px;
  padding: 10px;
  border-radius: 40px;
}
.header_right a {
  margin-left: 2%;
  padding: 10px;
}
.header_nav ul li a:hover,
.header_right a:hover {
  border-radius: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
/* ===============DashBoard======= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

.slide {
  height: 100%;
  width: 300px;
  position: absolute;
  background-color: #fff;
  transition: 0.5s ease;
  font-family: "poppins", sans-serif;
  transform: translateX(-300px);
}
.slide h1 {
  color: #8000ff;
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  padding-right: 30px;
  pointer-events: none;
}
.slide ul li {
  list-style: none;
}
.slide ul li a {
  color: #011a41;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
  margin-top: 25px;
}
.slide ul a:hover {
  color: #fff;
  background-color: #8000ff;
}
.slide ul li a i {
  width: 60px;
  text-align: center;
}
.checkbox {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}
.toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #8000ff;
  border-radius: 50px;
  transition: 0.3s ease;
}
/*  */
.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(20px);
}
input:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* ======================= default value cannot be edited ================= */

/*==============================Index HTML==============Home================*/
.first_main_content {
  background-color: #a6cfc4;
  height: 400px;
}
.chatbot_question_hub {
  width: 60%;
  margin: auto;
}
.chatbot_main_content1 {
  padding: 39px;
}
.chatbot_main_content1 h1 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
.chatbot_main_content {
  align-items: flex-start; /* căn phần tử theo chiều dọc */
}
#textArea_chatbot {
  width: 89%;
  border: none;
  margin: auto;
  resize: none;
}

#textArea_chatbot:focus {
  outline: none;
}
.chatbot_main_content {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}
#intput_file_chatbot {
  margin-left: 42px;
}

.fa-regular .fa-file {
  font-size: 3rem;
}
.button_get_file label {
  margin-left: 50px;
}
.get_file_read {
  margin-top: 25px;
}

.chatbot_question_hub .text_silder {
  display: flex;
  margin-top: 30px;
  height: 50px;
}
.slider_text_1 {
  background-color: white;
  border-radius: 3px;
  align-items: center;
  height: 51px;
  width: 349px;
  overflow: hidden;
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin: auto;
}
.text_silder .slider_text_1 div:first-child {
  margin: 7px 7px;
  font-size: 25px;
}
.slider_text {
  overflow: hidden;
}

.slider_text p {
  display: flex;
  animation: marquee 20s linear infinite;
  animation-delay: 2s;
}
.marquee{
  margin-left: 5px;
}


@keyframes marquee {
  0%,2% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

